/*Footer*/

footer {
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $rosa;
    margin-top: 40px;

    .details {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      color: $verde-medio;
      font-size: 12px;
      letter-spacing: 1px;
      text-decoration: none;

      .icon {
        font-family: symbols;
        font-size: 10px;
        color: $verde-medio;
      }
    }

    .social {
      margin-right: 30px;

      .icon {
        font-family: symbols;
        font-size: 30px;
        color: $verde-medio;
        padding: 5px;

        &:hover {
          color: $verde-oscuro;
        }
      }
    }
  }
}