/*Media Queries*/

/*Tablet Estándar*/

@media screen and (max-width: 992px) {
  header {
    height: 130px;
    flex-wrap: wrap;

    div img {
      margin-top: 20px;
    }
  }

  ul {
    padding-left: 0px;
  }

  /*Main general*/

  .principal {
    margin-top: 20px;
  }

  /*footer*/

  footer {
    section {
      height: 80px;
      margin-top: 20px;
    }
  }

  /*GridEstilos + GridServicios*/

  .gridEstilos,
  .gridServicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    margin: 0px;

    .Box1 {
      grid-column: 1/5;
    }

    .Pic1 {
      grid-column: 1/3;
    }

    .Pic2 {
      grid-column: 3/5;
    }

    .Box2 {
      grid-column: 1/5;
    }

    .Box3 {
      grid-column: 1/5;
    }

    .Pic3 {
      grid-column: 1/3;
    }

    .Pic4 {
      grid-column: 3/5;
    }

    .Box4 {
      grid-column: 1/5;
    }

    .box {
      padding: 20px;
      margin: 0px;
    }

    .pic img {
      max-width: 210px;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 805px) {
  /*Menu Hamburguesa*/

  .hamburgerMenu {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    color: $verde-medio;
    font-size: 35px;
  }

  header nav {
    transform: translateX(-576px);
    transition: 1s;
    position: absolute;
    background-color: $rosa;
    height: 100vh;
    top: 100px;
    padding: 20px;
    z-index: 2;

    ul {
      display: block;

      li {
        padding-bottom: 20px;

        a {
          font-size: 20px;
        }
      }
    }
  }

  header .inputMenu:checked + nav {
    transform: translateX(0px);
    width: fill-available;
  }

  /*Main de Contacto*/

  .map {
    margin-top: 20px;
  }
}

/*Teléfonos en modo horizontal y tabletas pequeñas*/

@media screen and (max-width: 576px) {
  /*Header*/

  header {
    height: 100px;
    flex-wrap: wrap;

    div img {
      margin-top: 0px;
      width: 200px;
    }
  }

  /*Banner*/

  .banner {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 15px;

    h1 {
      font-size: 35px;
      line-height: 80px;
    }
  }

  /*Main general*/

  .principal {
    font-size: 14px;

    h2 {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .description p {
    margin-bottom: 8px;
  }

  /*Index*/
  .card {
    margin-top: 30px;
  }
}

/*Teléfonos en modo vertical*/

@media screen and (max-width: 540px) {
  /*GridEstilos + GridServicios*/

  .gridEstilos,
  .gridServicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-row-gap: 5px;
    margin: 10px;

    .Box1 {
      grid-column: 1/5;
      grid-row: 1/2;
    }

    .Pic1 {
      grid-column: 1/5;
      grid-row: 2/3;
    }

    .Pic2 {
      grid-column: 1/5;
      grid-row: 4/5;
    }

    .Box2 {
      grid-column: 1/5;
      grid-row: 3/4;
    }

    .Box3 {
      grid-column: 1/5;
      grid-row: 5/6;
    }

    .Pic3 {
      grid-column: 1/5;
      grid-row: 6/7;
    }

    .Pic4 {
      grid-column: 1/5;
      grid-row: 8/9;
    }

    .Box4 {
      grid-column: 1/5;
      grid-row: 7/8;
    }
  }
}

/*Teléfonos pequeños*/

@media screen and (max-width: 448px) {
  .principal {
    margin: 0px;
  }

  /*Index*/
  .card {
    height: 630px;
    margin: 10px;
    margin-top: 20px;
  }

  /*Main de contacto*/

  .form {
    width: 340px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nombre"
      "line1"
      "apellido"
      "line2"
      "email"
      "line3"
      "telefono"
      "line4"
      "comentario"
      "line5"
      "boton";

    textarea {
      height: 80px;
    }
  }

  .map iframe {
    max-width: 340px;
  }
}

@media screen and (max-width: 370px) {
  /*Banner*/

  .banner {
    height: 70px;

    h1 {
      font-size: 30px;
      line-height: 70px;
    }
  }

  /*Index*/
  .card {
    height: 590px;
  }

  /*Contacto*/
  .map iframe {
    max-width: 310px;
  }

  /*Footer*/
  footer {
    section {
      .details {
        margin-left: 12px;
      }

      .social {
        margin-right: 12px;
      }
    }
  }
}
