/*Colores*/

$gris-medio: rgb(220, 218, 188);
$gris-claro: rgba(243, 241, 239);
$rosa: rgb(247, 162, 186);
$verde-oscuro: rgb(3, 31, 7);
$verde-medio: rgb(67, 85, 70);
$verde-claro: rgb(138, 170, 143);
$borde-general: 0.5px solid $verde-medio;
$borde-pic: 3px solid $gris-claro;
$borde-boton-hover: 1px solid $gris-claro;
